body, div, ul, li, p
{
    margin: 0;
    padding: 0;
}

.canvasContainer
{
    float: left;
    width: 800px;
    height: 600px;
    border: 4px solid black;
}
.settingsMenu
{
    border: 2px solid black;
    background-color: #FFEC8B;
}
.triangleSettings, .rectangleSettings
{
    margin: 0 auto;
    display: block;
}

.circleSettings
{
    margin: 0 auto;
    display: block;
}

.info
{
    width: 280px;
    margin: 20px auto 0;
    font-size: 14pt;    
}

